<table class="center">
	<tr>
		<th>Date</th>
		<th>Agenda</th>
		<th>City</th>
		<th>Notes</th>
	</tr>
	<tr>
		<td>August 2023</td>
		<td>Workshop for competition kickoff.</td>
		<td>Beijing, China</td>
		<td> </td>
	</tr>
	<tr>
		<td>August 2023</td>
		<td>Organization structure and task definition details are finalized.</td>
		<td>Beijing, China</td>
		<td></td>
	</tr>
	<tr>
		<td>July 2023 - August 2023</td>
		<td>Call for participations worldwide. The registration deadline is on August 25th, 2023. The acceptance announced will be out in 1-2 weeks.</td>
		<td>Multiple cities worldwide</td>
		<td></td>
	</tr>
	<tr>
		<td>September 2023 - October 2023</td>
		<td>Evaluations at local testing facilities in designated cities.<br/>Remote testing is available for teams who does not have access to local testing facilities.</td>
		<td>Multiple cities worldwide</td>
		<td></td>
	</tr>
		<tr>
		<td>October 2023</td>
		<td>The first stage testing is wrapped up.</td>
		<td>Multiple cities worldwide</td>
		<td></td>
	</tr>
		</tr>
		<tr>
		<td>January 2024</td>
		<td>Final competition kickoff.</td>
		<td>Shanghai, China</td>
		<td>Tentative</td>
	</tr>

</table>
