<table class="center">
	<tr>
		<th>Date</th>
		<th>Agenda</th>
		<th>City</th>
		<th>Notes</th>
	</tr>
	<tr>
		<td>Jun. 15, 2020</td>
		<td>Workshop for competition kickoff.</td>
		<td>Beijing, China</td>
		<td> </td>
	</tr>
	<tr>
		<td>Jul. 30, 2020</td>
		<td>Organization structure and task definition details are finalized. Most challenge-related information is finalized.</td>
		<td>Beijing, China</td>
		<td></td>
	</tr>
	<tr>
		<td>Aug. 2020 - Nov. 2020</td>
		<td>Call for participations worldwide.</td>
		<td>Worldwide cities</td>
		<td></td>
	</tr>
	<tr>
		<td>Dec. 2020 - Jan. 2021</td>
		<td>First-round preliminary evaluations at local testing facilities in designated cities.</td>
		<td>Multiple cities wordwide</td>
		<td></td>
	</tr>
	<tr>
		<td>May. 2021 - Jul. 2021</td>
		<td>Second-round preliminary evaluations at local testing facilities in designated cities.</td>
		<td>Multiple cities worldwide</td>
		<td></td>
	</tr>
	<tr>
		<td>Aug. 2021</td>
		<td>Annual final in China, the specific selected city is undecided yet.</td>
		<td>China</td>
		<td></td>
	</tr>
</table>
