<table class="center">
	<tr>
		<th>Date</th>
		<th>Agenda</th>
		<th>City</th>
		<th>Notes</th>
	</tr>
	<tr>
		<td>Jun. 15, 2020</td>
		<td>Workshop for competition kickoff.</td>
		<td>Beijing, China</td>
		<td> </td>
	</tr>
	<tr>
		<td>Jul. 30, 2020</td>
		<td>Organization structure and task definition details are finalized.</td>
		<td>Beijing, China</td>
		<td></td>
	</tr>
	<tr>
		<td>May. 2021 - Jun. 2021</td>
		<td>Call for participations worldwide (confirmation will be in 2 weeks)</td>
		<td>Multiple cities worldwide</td>
		<td>Tentative</td>
	</tr>
	<tr>
		<td>May. 2021 - Oct. 2021</td>
		<td>Evaluations at local testing facilities in designated cities (remote testing is available for teams not have access to local testing facilities)</td>
		<td>Multiple cities wordwide</td>
		<td>Tentative</td>
	</tr>
	<tr>
		<td>Oct. 2021</td>
		<td>Annual final competition</td>
		<td>Shanghai, China</td>
		<td>Tentative</td>
	</tr>
</table>
