<table>
    <tr>
     <th>Country/Greater Region</th>
     <th>Region/Province</th>
     <th>City</th>
     <th>Institution</th>
   </tr>
   <tr>
   	<td rowspan="11">China</td>
     <td>Northern China</td>
     <td>Beijing, China</td>
     <td style="background-color:rgb(84, 197, 113,0.1)">Intel Labs China</td>
   </tr>
   <tr>
   	<td rowspan="6">Yangtze River Delta Region</td>
     <td rowspan="4">Shanghai, China</td>
     <td style="background-color:rgb(84, 197, 113,0.1)">Shanghai Jiaotong University (SJTU)</td>
   </tr>
   <tr>
     <td style="background-color:rgb(84, 197, 113,0.1)">WeCan Robotics</td>
   </tr>
   <tr>
     <td>Hangzhou, China</td>
     <td style="background-color:rgb(84, 197, 113,0.1)">Academy for Advanced Study on Information Technologies, Peking University (AIIT)</td>
   </tr>
   <tr>
     <td>Nanjing, China</td>
     <td style="background-color:rgb(84, 197, 113,0.1)"></td>WeCan Robotics</td>
   </tr>
   <tr>
   	<td>Western China</td>
     <td>Xi'an, China</td>
     <td>Xi’an Jiaotong University (XJTU)</td>
   </tr>
   <tr>
   	<td rowspan="5">Southern and Central China</td>
     <td>Guangzhou, China</td>
     <td>Sun Yat-sen University (SYTU)</td>
   </tr>
     <tr>
     <td>Xiamen, China</td>
     <td>Fuzhou University (FZU) and Xiamen University (XMU)</td>
   </tr>
     <tr>
     <td>Changsha, China</td>
     <td>Central South University (CSU)</td>
   </tr>
     <tr>
     <td>Shenzhen, China</td>
     <td>The Chinese University of Hong Kong, Shenzhen (CUHK-Shenzhen)</td>
   </tr>
     <tr>
     <td>Wuhan, China</td>
     <td>Huazhong University of Science and Technology Institution (HUST) and Wuhan University (WHU)</td>
   </tr>

     <tr>
   	<td rowspan="10">International</td>
     <td>Germany</td>
     <td>Hamburg</td>
     <td style="background-color:rgb(59, 64, 60,0.1)">University of Hamburg</td>
   </tr>
   <tr>
   	<td>Italy</td>
     <td>Genoa</td>
     <td style="background-color:rgb(59, 64, 60,0.5)">Italian Institute of Technology (IIT)</td>
   </tr>
   <tr>
     <td>The United Kingdom</td>
     <td>Britain Edinburgh</td>
 	<td style="background-color:rgb(84, 197, 113,0.1)">Edinburgh Robotics Center</td>
   </tr>
   <tr>
     <td>France</td>
     <td>Rocquencourt</td>
     <td>National Institute for Research in Computer Science and Automation (INRIA)</td>
   </tr>
   <tr>
   	<td rowspan="2">Switzerland	</td>
     <td>Lausanne</td>
     <td>Swiss Federal Institute of Technology Lausanne (EPFL)</td>
   </tr>
     <tr>
     <td>Zürich</td>
     <td>Swiss Federal Institute of Technology in Zurich (ETH Zurich)</td>
   </tr>
     <tr>
   	<td rowspan="2">South Korean	</td>
     <td rowspan="2">Seoul</td>
     <td>Seoul National University</td>
   </tr>
     <tr>
     <td>Hanyang University</td>
   </tr>
   <tr>
   	<td rowspan="2">Japan</td>
     <td>Osaka</td>
     <td>Osaka University</td>
   </tr>
     <tr>
     <td>Ibaraki</td>
     <td>University of Tsukuba</td>
   </tr>
 </table>
